<mat-card>
  <mat-card-header>
    <mat-card-title>Staff Profile</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <div class="form-group">
        <mat-form-field>
          <mat-label>Staff ID</mat-label>
          <input matInput type="number" [value]="user.staff_id" disabled>
        </mat-form-field>
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input matInput [value]="user.first_name" [disabled]="!isEditing">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input matInput [value]="user.last_name" [disabled]="!isEditing">
        </mat-form-field>
      </div>
      <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput type="email" [value]="user.email" [disabled]="!isEditing">
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions id="profile-actions">
    <button mat-raised-button color="primary" type="submit" *ngIf="isEditing" [disabled]="!hasChanged">
      Save Changes
    </button>
    <button mat-raised-button color="accent" (click)="toggleEditing()">
      {{isEditing ? 'Cancel Changes' : 'Enable Editing'}}
    </button>
  </mat-card-actions>
</mat-card>
