<div id="home-content" class="full-width full-height">
  <mat-toolbar color="primary" id="home-content-toolbar">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>MAMS</span>
    <span class="flex-spacer"></span>
    <button mat-icon-button matTooltip="Logout" (click)="auth.logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container id="home-content-main">
    <mat-sidenav mode="over" #sidenav>
      <mat-nav-list>
        <a mat-list-item routerLink="/home">Home</a>
        <a mat-list-item routerLink="admin">Admin</a>
        <a mat-list-item routerLink="appointment">Appointments</a>
        <a mat-list-item routerLink="patient">Patients</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content id="sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
