<form id="search-form" class="mat-elevation-z4" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <h2>Patient Search</h2>
  <div class="form-group">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput formControlName="first_name">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="last_name">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Contact Phone</mat-label>
      <input matInput type="tel" formControlName="contact_phone">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Contact Email</mat-label>
      <input matInput type="email" formControlName="contact_email">
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" class="full-width">Search</button>
</form>
<div id="result-table" class="mat-elevation-z4" *ngIf="results.length > 0">
  <h3>Found {{results.length}} patients:</h3>
  <div>
    <table mat-table [dataSource]="results" *ngIf="results.length !== 0">
      <ng-container matColumnDef="patient_id">
        <th mat-header-cell *matHeaderCellDef>Patient ID</th>
        <td mat-cell *matCellDef="let patient">{{patient['patient_id']}}</td>
      </ng-container>
      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let patient">{{patient['first_name']}}</td>
      </ng-container>
      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let patient">{{patient['last_name']}}</td>
      </ng-container>
      <ng-container matColumnDef="contact_phone">
        <th mat-header-cell *matHeaderCellDef>Contact Phone</th>
        <td mat-cell *matCellDef="let patient">{{patient['contact_phone']}}</td>
      </ng-container>
      <ng-container matColumnDef="contact_email">
        <th mat-header-cell *matHeaderCellDef>Contact Email</th>
        <td mat-cell *matCellDef="let patient">{{patient['contact_email']}}</td>
      </ng-container>
      <ng-container matColumnDef="birthdate">
        <th mat-header-cell *matHeaderCellDef>Birthdate</th>
        <td mat-cell *matCellDef="let patient">{{patient['birthdate']}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let patient">
          <button mat-icon-button color="warn" (click)="delete(patient)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let rowData; columns: displayColumns;"></tr>
    </table>
  </div>
</div>
