<form class="mat-elevation-z4" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
  <h3>Search For Appointment</h3>
  <div class="form-group">
    <mat-form-field class="full-width" formGroupName="patient">
      <mat-label>Patient First Name</mat-label>
      <input matInput formControlName="first_name">
    </mat-form-field>
    <mat-form-field class="full-width" formGroupName="patient">
      <mat-label>Patient Last Name</mat-label>
      <input matInput formControlName="last_name">
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field class="full-width" formGroupName="doctor">
      <mat-label>Doctor First Name</mat-label>
      <input matInput formControlName="first_name">
    </mat-form-field>
    <mat-form-field class="full-width" formGroupName="doctor">
      <mat-label>Doctor Last Name</mat-label>
      <input matInput formControlName="last_name">
    </mat-form-field>
  </div>
  <mat-form-field class="full-width">
    <mat-label>Scheduled Date</mat-label>
    <input matInput [matDatepicker]="searchPicker" formControlName="date">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="searchPicker"></mat-datepicker-toggle>
    <mat-datepicker #searchPicker></mat-datepicker>
  </mat-form-field>
  <button mat-raised-button color="primary" class="full-width" type="submit">Search</button>
</form>

<div id="result-table" class="mat-elevation-z4" *ngIf="results.length !== 0">
  <h3>Found {{results.length}} appointment(s):</h3>
  <div>
    <table mat-table [dataSource]="results" *ngIf="results.length !== 0">
      <ng-container matColumnDef="appointment_id">
        <th mat-header-cell *matHeaderCellDef>Appointment ID</th>
        <td mat-cell *matCellDef="let appointment">{{appointment['appointment_id']}}</td>
      </ng-container>
      <ng-container matColumnDef="patient">
        <th mat-header-cell *matHeaderCellDef>Patient</th>
        <td mat-cell *matCellDef="let appointment">
          {{appointment['patient_first_name']}} {{appointment['patient_last_name']}}
        </td>
      </ng-container>
      <ng-container matColumnDef="doctor">
        <th mat-header-cell *matHeaderCellDef>Doctor</th>
        <td mat-cell *matCellDef="let appointment">
          {{appointment['doctor_first_name'] + ' ' + appointment['doctor_last_name']}}
        </td>
      </ng-container>
      <ng-container matColumnDef="room_number">
        <th mat-header-cell *matHeaderCellDef>Room Number</th>
        <td mat-cell *matCellDef="let appointment">{{appointment['room_number']}}</td>
      </ng-container>
      <ng-container matColumnDef="date_time">
        <th mat-header-cell *matHeaderCellDef>Date-Time</th>
        <td mat-cell *matCellDef="let appointment">{{appointment['date_time']}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let appointment">
          <button mat-icon-button color="warn" (click)="delete(appointment)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let rowData; columns: displayColumns;"></tr>
    </table>
  </div>
</div>

