<div id="index-content">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Appointments</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Create, edit and remove appointments
    </mat-card-content>
    <mat-card-actions>
      <a mat-icon-button routerLink="appointment">
        <mat-icon>arrow_forward</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Patients</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Search, create and edit information on patients
    </mat-card-content>
    <mat-card-actions>
      <a mat-icon-button routerLink="patient">
        <mat-icon>arrow_forward</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Profile</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      See your staff information, update your contact information
    </mat-card-content>
    <mat-card-actions>
      <a mat-icon-button routerLink="profile">
        <mat-icon>arrow_forward</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Admin</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      Create, delete and manage staff and MAMS
    </mat-card-content>
    <mat-card-actions>
      <a mat-icon-button routerLink="admin">
        <mat-icon>arrow_forward</mat-icon>
      </a>
    </mat-card-actions>
  </mat-card>
</div>
