<form class="mat-elevation-z4" [formGroup]="patientForm" (ngSubmit)="onSubmit()">
  <h2>Create Form</h2>
  <div class="form-group full-width">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput formControlName="first_name">
      <mat-error *ngIf="getError('First name', this.firstName)">
        {{getError('First name', this.firstName)}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="last_name">
      <mat-error *ngIf="getError('Last name', this.lastName)">
        {{getError('Last name', this.lastName)}}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Contact Number</mat-label>
      <input matInput type="tel" formControlName="contact_phone">
      <mat-error *ngIf="getError('Phone number', this.phone)">
        {{getError('Phone number', this.phone)}}
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Contact Email</mat-label>
      <input matInput type="email" formControlName="contact_email">
      <mat-error *ngIf="getError('', this.email)">
        {{getError('Email', this.email)}}
      </mat-error>
    </mat-form-field>
  </div>
  <mat-form-field class="full-width">
    <mat-label>Birthdate</mat-label>
    <input matInput [matDatepicker]="birthPicker" formControlName="birthdate">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="birthPicker"></mat-datepicker-toggle>
    <mat-datepicker #birthPicker></mat-datepicker>
    <mat-error *ngIf="getError('', this.birthdate)">
      {{getError('Birthdate', this.birthdate)}}
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" class="full-width">Create</button>
  <mat-error *ngIf="createError">{{createError}}</mat-error>
</form>
