<div id="login-content">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login to MAMS</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email">
        </mat-form-field>
        <mat-form-field class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password">
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" class="full-width">Login</button>
    </mat-card-actions>
  </mat-card>
</div>
