<div id="schedule-content" class="mat-elevation-z4">
  <mat-form-field>
    <mat-label>Showing appointments for</mat-label>
    <input matInput [matDatepicker]="picker" [value]="selectedDate">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div>
    <table mat-table [dataSource]="results" *ngIf="results.length !== 0">
      <ng-container matColumnDef="appointment_id">
        <th mat-header-cell *matHeaderCellDef>Appointment ID</th>
        <td mat-cell *matCellDef="let appointment">{{appointment['appointment_id']}}</td>
      </ng-container>
      <ng-container matColumnDef="doctor">
        <th mat-header-cell *matHeaderCellDef>Doctor</th>
        <td mat-cell *matCellDef="let appointment">
          {{appointment['doctor_first_name'] + ' ' + appointment['doctor_last_name']}}
        </td>
      </ng-container>
      <ng-container matColumnDef="room_number">
        <th mat-header-cell *matHeaderCellDef>Room Number</th>
        <td mat-cell *matCellDef="let appointment">{{appointment['room_number']}}</td>
      </ng-container>
      <ng-container matColumnDef="date_time">
        <th mat-header-cell *matHeaderCellDef>Date-Time</th>
        <td mat-cell *matCellDef="let appointment">{{appointment['date_time']}}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let appointment">
          <button mat-icon-button>
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
      <tr mat-row *matRowDef="let rowData; columns: displayColumns;"></tr>
    </table>
  </div>
</div>
