<form class="mat-elevation-z4" [formGroup]="createForm" (ngSubmit)="onSubmit()">
  <h3>Create Appointment</h3>
  <mat-form-field class="full-width">
    <mat-label>Select Patient</mat-label>
    <input matInput formControlName="patient" [matAutocomplete]="patientAutocomplete">
    <mat-autocomplete #patientAutocomplete [displayWith]="renderPatient">
      <mat-option *ngFor="let patient of filteredPatients |async" [value]="patient">
        {{patient.first_name}} {{patient.last_name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Select Doctor</mat-label>
    <input matInput type="text" formControlName="doctor" [matAutocomplete]="doctorAutocomplete">
    <mat-autocomplete #doctorAutocomplete [displayWith]="renderDoctor">
      <mat-option *ngFor="let doctor of filteredDoctors | async" [value]="doctor">
        {{doctor.first_name}} {{doctor.last_name}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <div class="form-group">
    <mat-form-field>
      <mat-label>Select Date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Select Time</mat-label>
      <input matInput formControlName="time">
      <mat-hint>HH:MM:SS</mat-hint>
    </mat-form-field>
  </div>
  <button mat-raised-button color="primary" class="full-width" [disabled]="!createForm.valid">
    Create
  </button>
</form>
